* text=auto eol=lf
*.gd text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.godot text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.glb binary
*.png binary
*.jpg binary
*.webp binary
*.ogg binary
